# The name of your application
APP_NAME=currency-rate

# The timezone in which your application will operate
APP_TIMEZONE=Europe/Moscow

# Enable or disable debug mode (true to enable, false to disable)
SERVER_DEBUG=false

# Number of CPUs allocated to the server
SERVER_CPU_COUNT=4

# IP address the server will listen on (0.0.0.0 to listen on all interfaces)
SERVER_ADDRESS=0.0.0.0

# Port on which the server will run
SERVER_PORT=8080

# User under which the server will run (can be left empty)
SERVER_USER=

# Group under which the server will run (can be left empty)
SERVER_GROUP=
